{% extends 'base.html.twig' %}



{% block title %}Vos informations personnelles{% endblock %}

{% block body %}


    {% include 'navbar/index2.html.twig' %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Vos informations personnelles</h2>
                <ol>
                    <li><a href="{{ path('index')}}#hero">Accueil</a></li>
                    <li>Vos informations personnelles</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="container">

            <h2 class="mb-5">Bonjour {{ app.user.prenom }}, <small>voici vos informations personnelles :</small></h2>

            <div class="table-responsive">
        <table id="admin" class="table table-striped table-bordered text-center" style="width:100%">

            <thead>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Modifier son identifiants</th>
            <th>Modifier son mot de passe</th>
            <th>Supprimer</th>
            </thead>
            <tbody>
            <tr>
                <td>{{user.prenom}}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.email }}</td>
                <td><a href="{{ path ('gestion_personnelle_modification') }}" class="btn btn-dark">Modifier</a></td>
                <td><a href="{{ path ('gestion_mdp_modification') }}" class="btn btn-dark">Modifier</a></td>
                <td><a href="{{ path('gestion_suppression', {'id':user.id}) }}" class="btn btn-dark">Supprimer</a></td>
            </tr>
            </tbody>
        </table>
    </div>
        </div>

    </section>

</main><!-- End #main -->

{% endblock %}
