{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block stylesheets %}
    <link href="/css/footerInner.css" rel="stylesheet">
{% endblock %}


{% block body %}

    {% include 'navbar/index2.html.twig' %}

    <main id="main">
        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Vos commandes</h2>
                    <ol>
                        <li><a href="{{ path('index')}}#hero">Accueil</a></li>
                        <li>Vos commandes</li>
                    </ol>
                </div>
            </div>
        </section><!-- End Breadcrumbs Section -->
        <div class="inner-page">
            <div class="container">

                <div id="gallery" class="gallery">

                    <div class="section-title mt-5">
                        <h1 class="mt-5">Vos commandes</h1>
                    </div>

                <h2 class="mb-5">{{ app.user.prenom }}, <small>voici vos commandes :</small></h2>

                <div class="table-responsive">
                    <table id="admin" class="table table-striped table-bordered text-center" style="width:100%">

                        <thead>
                        <th>Menus</th>
                        <th>Détail des menus</th>
                        <th>Boissons</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="{{ path('menu_affichage') }}" class="btn btn-dark">Voir</a></td>
                            <td><a href="{{ path('composant_affichage') }}" class="btn btn-dark">Voir</a></td>
                            <td><a href="{{ path('boisson_affichage') }}" class="btn btn-dark">Voir</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </section>

    </main><!-- End #main -->

{% endblock %}
