{% extends 'base.html.twig' %}

{% block title %}Gestion des images{% endblock %}

{% block body %}

            {% include 'navbar/index2.html.twig' %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Gestion des images</h2>
                <ol>
                    <li><a href="{{ path('index')}}#hero">Accueil</a></li>
                    <li>Gestion des images</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="container">

            <div class="mb-5">

                {% include 'menu_admin.html.twig' %}

                <h1 class="text-center mt-5 mb-5">Insertion des images</h1>
                {{ form(imageForm) }}
                {{ form_widget(imageForm) }}

                <div class="text-right">

                </div>
<br>
                <br>
                <hr>

            <h1 class="text-center mt-5 mb-5">Liste des images</h1>

                <table id="admin" class="table table-striped table-bordered text-center" style="width:100%">
                    <thead>
                    <th>Nom de l'image</th>
                    <th>Image</th>
                    <th>Supprimer</th>
                    </thead>
                    <tbody>
                    {% for plas in pla %}
                        <tr>
                        <td>{{ plas.imageName}}</td>
                        <td><img src="{{ vich_uploader_asset(plas, 'imageFile')|imagine_filter('carre') }}" width="100"> </td>
                        <td><a href="{{ path('supprimer_image', {'id':plas.id}) }}"  class="btn btn-dark"><i class='bx bx-check-double text-center'></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </section>

</main><!-- End #main -->

{% endblock %}
