{% extends 'base.html.twig' %}

{% block title %}Ajout commentaire{% endblock %}

{% block stylesheets %}
    <link href="/css/footerInner.css" rel="stylesheet">
{% endblock %}

{% block body %}



    <main id="main">

        {% include 'navbar/index2.html.twig' %}

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Ajout d'un commentaire</h2>
                <ol>
                    <li><a href="index.html">Accueil</a></li>
                    <li>Ajout d'un commentaire</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs Section -->


    <section class="inner-page">
    <div class="container">

        {% for label, messages in app.flashes  %}
            <div class="alert alert-{{ label }} alert-dismissible fade show text-center">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor%}
            </div>
        {% endfor %}

        {% if app.user %}
            {% for repos in repo %}
                {% if app.user.id == repos.id %}
                    <h3 class="titre mb-5">Vous avez déjà mis un commentaire !</h3>
                    <div class="text-center">
                        <img src="/img/betiseetvolupthe.jpg" width="200" height="300"  alt="" class="pb-5">
                    </div>
                {% else %}
        <h3 class="titre">Ajouter un commentaire</h3>


        {{ form_start(form) }}
        {{ form_widget(form)}}
        <button type="submit" class="btn btn-primary mb-5">Ajouter</button>
        {{ form_end(form) }}


                {% endif %}
                {% endfor %}
                 {% else %}

        <h1 class="text-center mt-5">Vous devez être inscrit et connecté avant de continuer.</h1>

            <div class="form-row mt-3">
                <div class="col-lg-6 col-md-6  form-group">
                    <h5 class="text-center  mt-2 mb-5">Etape 1 (si non inscrit) :</h5>
                    <div class="text-center">
                    <p class="text-center btn mb-5"><a href = "{{ path ('app_register') }}">Inscription</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6  form-group">
                <h5 class="text-center  mt-2 mb-5">Etape 2 :</h5>
                    <div class="text-center">
                <p class="text-center btn mb-5"><a href = "{{ path ('app_login') }}">Connexion</a></p>
                    </div>
                </div>
            </div>
        <div class="text-center">
            <img src="/img/betiseetvolupthe.jpg" width="200" height="300"  alt="" class="pb-5">
        </div>





        {% endif %}

    </div>

    </section>
    </main><!-- End #main -->
{% endblock %}
