{% extends 'base.html.twig' %}

{% block title %}Avis des clients{% endblock %}

{% block stylesheets %}
    <link href="/css/footerInner.css" rel="stylesheet">
{% endblock %}


{% block body %}



    {% include 'navbar/index2.html.twig' %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Avis des clients</h2>
                <ol>
                    <li><a href="{{ path('index')}}#hero">Accueil</a></li>
                    <li>Avis des clients</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="container">

<div class="text-right">
    <td><a href="{{ path ('add_commentaire') }}" class="btn">Donner votre avis</a></td>
</div>

            <div class="mb-5 mt-5">

                <div class="mt-5">
                <h1 class="text-center mb-5">Vos avis !</h1>
                </div>
    {% if repo|length > 0 %}


    <div class="alert alert-info">
        <h2 class="alert-heading">
            <div class="row">
                <div class="col">
                    Note globale donnée par {{ count }} clients
                </div>
                <div class="col">
                    {% for repos2 in repo2 %}
                        <span class="note">
        {% for i in 1..5 %}
            {% if i <= repos2.note %}
                <i class='bx bxs-star bx-flashing' ></i>
            {% else  %}
                <i class='bx bx-star bx-flashing' ></i>
            {% endif %}
        {% endfor %}
</span>
                    {% endfor %}
                </div>
            </div>
        </h2>
    </div>
    {% for repos in repo %}

            <div class="bg-light rounded mt-5 mb-5 py-3 px-3">
                <strong>{{ repos.prenom }} {{ repos.nom }}</strong> a dit :
                <blockquote>
                    {{ repos.contenu }}
                </blockquote>
                <strong>Note donnée par {{ repos.prenom }} {{ repos.nom }}</strong> :
                <span class="note">
        {% for i in 1..5 %}
            {% if i <= repos.note %}
                <i class='bx bxs-star bx-spin' ></i>
            {% else  %}
                <i class='bx bx-star bx-spin' ></i>
            {% endif %}
        {% endfor %}
</span>
            </div>

        {% endfor%}

    {% else %}
    <h2 class="titre pb-3">En attente de commentaire</h2>
    <img src="/img/betiseetvolupthe.jpg" width="200" height="300"  alt="" class="pb-5">
    {% endif %}
    <div class="text-right">
        <h3>{{ knp_pagination_render(repo) }}</h3>
    </div>
</div>

        </div>

    </section>

</main><!-- End #main -->


{% endblock %}
